*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

body.vscode-dark table {
    background-color: rgb(46, 53, 62) !important;
}

body.vscode-light table {
    background-color: rgb(240, 240, 240) !important;
}

table {
    border-radius: 0.25em;
    border-collapse: collapse;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
}

body.vscode-dark th {
    color: #28b1de !important;
    border: 1px dashed #364043 !important;
}

body.vscode-light th {
    color: #d810c4a8 !important;
    border: 1px dashed #ebebeb !important;

}

th {
    border: 1px dotted #364043 !important;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: left;
}

body.vscode-light td {
    color: black !important;
    border: 1px dashed #ebebeb !important;
}

body.vscode-dark td {
    color: lightgrey !important;
    border: 1px dashed #364043 !important;


}

td {
    font-weight: 400;
    padding: 0.65em 1em;
    text-align: left;

}

body.vscode-dark tr:hover {
    background: #014055 !important;
}

body.vscode-light tr:hover {
    background: #a9b8bd !important;
}

a {
    white-space: nowrap;
    text-decoration: none;
}