form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  background: var(--vscode-editor-background);
  padding: 24px;
  border-radius: 6px;
  border: 1px solid var(--vscode-editorWidget-border);
}

fieldset {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 0px;
  margin-bottom: 8px;
  border: none;
  padding: 0;

}

label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--vscode-descriptionForeground);
  font-weight: 500;
}

input {
  background: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  border: 1px solid var(--vscode-input-border);
  border-radius: 3px;
  padding: 6px 8px;
  font-size: 1rem;
  outline: none;
}

hr {
  border: 1px solid var(--vscode-editorWidget-border);
}


.remove-btn.danger {
  background: transparent;
  color: rgba(255, 0, 0, 0.8);
  border-radius: 50%;
  padding: 6px 8px;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 0, 0, 0.8);;
}


.remove-btn.danger:hover {
  background-color: rgba(255, 0, 0, 0.8);
  color: var(--vscode-editorWidget-border);
  border: none;

}

.remove-btn.danger:hover:has(+ .write-endpoint-fieldset),
.write-endpoint-fieldset:has(.remove-btn.danger:hover) {
  background-color: rgb(71, 45, 45);
}

.write-endpoint-fieldset {
  border-radius: 15px;
  padding-top: 15px;

  fieldset {
    margin-left: 8px;
  }
}
